<h1> <%= @cities.find(@index).name %> </h1>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @gossips.each_with_index do |gossip,index| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">              
              <%=link_to "#{gossip.title}", gossip_path(gossip.id), :class => "nav-link" %>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= gossip.user.first_name %> <%= gossip.user.last_name %></h6>
              <a class="btn btn-primary" href="<%=gossip_path(gossip.id)%>" role="button">Voir le potin</a>
              </button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
